* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
}

#nav {
    padding: 1.5vw;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5vw;
    font-size: 1.2vw;
    background-color: chocolate;
}

#nav :nth-last-child(1) {
    height: 2vw;
    width: 2vw;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2vw;
}

#content {
    height: 35vw;
    width: 100%;
    padding: 5vw;
}

#content #part1 {
    height: 70%;
    width: 100%;
}

#content #part1 h2 {
    font-size: 3.5vw;
}

#content #part2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#content #part2 #div1 {
    width: 35%;
    height: 100%;
    font-size: 1.1vw;
    ;
    padding: 1vw;
}

#content #part2 #div2 {
    width: 65%;
    height: 100%;
    display: flex;
    padding: 1vw;
    flex-direction: column;
    align-items: flex-end;
}

#content #part2 #div2 .divi {
    border-top: 2px solid black;
    width: 50%;
    padding: 1vw;
}

.divi:hover {
    text-decoration: underline;
}

#div2 :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#photo {
    margin-top: 1vw;
    width: 100%;
    height: 25vw;
   
}

#photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





@media (max-width:600px) {

    #nav {
        padding: 2vw;
        width: 100%;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        font-size: 2vw;
    }

    #nav :nth-last-child(1) {
        height: 2vw;
        width: 2vw;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        font-size: 2vw;
    }


   #content {
    height: 70vw;
    width: 100%;
    padding: 5vw;
}

#content #part1 {
    height: 50%;
    width: 100%;
    padding: 1vw;
  
}

#content #part1 h2 {
    font-size: 5vw;
}

#content #part2 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    
}


#content #part2 #div2 {
   
    margin-top: 2vh;
    flex-direction: column;
    align-items: flex-start;
}


#photo {
    margin-top: 2vh;
    width: 100%;
    height: 50vw;
    
}




}